.call {
  padding-top: 120px;

  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    .call-title {
      color: #0a377f;
      font-family: "Inter";
      font-size: 36px;
      font-style: normal;
      font-weight: 600;
      line-height: 44px;
      letter-spacing: -0.72px;
    }

    .call-titles {
      color: var(--Gray-One-900, #101828);
      text-align: center;
      font-family: "Inter";
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px;
      width: 842px;
    }
  }
  .component {
    flex-direction: column;
    align-items: center;
    padding-top: 56px;
    .item {
      // padding: 45px 150px;
      border-radius: 16px 16px 0px 0px;
      background: var(--One-Xanh, #0a377f);
      box-shadow: 0px 20px 24px -4px rgba(16, 24, 40, 0.08),
        0px 8px 8px -4px rgba(16, 24, 40, 0.03);
      .table {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 32px;

        .itemm {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 16px;
          width: 100%;
          padding: 150px;
          padding-top: 45px;
          padding-bottom: 45px;

          .name {
            // display: flex;
            align-items: center;
            gap: 8px;
            align-self: stretch;
            border-radius: 8px;
            // background: rgba(255, 255, 255, 0.1);
            // box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
            input::placeholder {
              color: var(--White, #fff);
            }
            textarea::placeholder {
              color: var(--White, #fff);
            }
            input {
              display: flex;
              padding: 8px 12px;
              align-items: center;
              gap: 8px;
              align-self: stretch;
              border-radius: 8px;
              background: rgba(255, 255, 255, 0.1);
              box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
              color: var(--White, #fff);

              width: 100%;
            }

            textarea {
              background: rgba(255, 255, 255, 0.1);
              box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
              width: 100%;
              border-radius: 8px;
              color: var(--White, #fff);
              border: none;
              padding: 8px 12px;
            }
            .error {
              color: red;
              margin-top: 5px;
              font-size: 14px;
            }
          }
        
          .bottom {
            display: flex;
            padding: 12px 18px;
            align-items: center;
            gap: 10px;
            border-radius: 8px;
            border: 2px solid var(--One-Gold-2, #ffe5a1);
            background: var(
              --One-Gold,
              linear-gradient(
                90deg,
                #d5a271 0%,
                #ffe5a1 32.85%,
                #ffffc6 65.6%,
                #d5a271 100%
              )
            );
            margin: 0 auto;
            margin-top: 18px;

            .text {
              color: var(--One-Xanh, #0a377f);
              text-align: center;
              font-family: Inter;
              font-size: 20px;
              font-style: normal;
              font-weight: 600;
              line-height: 20px;
            }
          }
        }
      }
    }
  }
}

.form-lawyer {
  display: flex;
  width: 446px;
  padding: 40px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-radius: 16px;
  background: var(--Color-Semantic-Background-brand-800, #1849a9);
  backdrop-filter: blur(4px);

  .text {
    width: 342px;
    color: var(--Base-White, #fff);
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 31.92px;
  }
  p {
    width: 289px;
    color: var(--Base-White, #fff);
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18.62px;
  }
  .botton {
    display: flex;
    width: 132px;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: var(
      --One-Gold,
      linear-gradient(
        90deg,
        #d5a271 0%,
        #ffe5a1 32.85%,
        #ffffc6 65.6%,
        #d5a271 100%
      )
    );
    margin: 0 auto;
    margin-top: 18px;

    .texxt {
      color: var(--One-Xanh, #0A377F);
      text-align: center;
      font-family: 'Inter';
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px; /* 125% */
    }
  }
}


@media (max-width: 431px) {
  .form-lawyer {
      width: 400px;
      padding: 35px;
  }
  .form-lawyer .text {
      width: 320px;
      font-size: 22px;
  }
  .form-lawyer p {
      width: 270px;
      font-size: 13px;
  }
  .form-lawyer .botton {
      width: 120px;
      padding: 6px 14px;
  }
  .form-lawyer .botton .textxt {
      font-size: 14px;
  }
}

@media (max-width: 415px) {
  .form-lawyer {
    width: 343px;
    display: flex;
    padding: 40px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 0 auto;
  
   .text {
    font-size: 24px;
    width: 100%;
  }
   p {
    font-size: 14px;
  }
  .botton {
    width: 132px;
    padding: 8px 16px;
    margin: 0 auto;
    text-align: center;
 

  }
  // .form-lawyer .botton .texxt {
  //     font-size: 16px;
  // }
}
}

@media (max-width: 390px) {
  .form-lawyer {
    width: 343px;
    display: flex;
    padding: 40px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 0 auto;
  
   .text {
    font-size: 24px;
    width: 100%;
  }
   p {
    font-size: 14px;
  }
  .botton {
    width: 132px;
    padding: 8px 16px;
    margin: 0 auto;
    text-align: center;
 

  }
  // .form-lawyer .botton .texxt {
  //     font-size: 16px;
  // }
}
}

@media (max-width: 361px) {
  .form-lawyer {
    width: 343px;
    display: flex;
    padding: 40px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 0 auto;
  
   .text {
    font-size: 24px;
    width: 100%;
  }
   p {
    font-size: 14px;
  }
  .botton {
    width: 132px;
    padding: 8px 16px;
    margin: 0 auto;
    text-align: center;
 

  }
  // .form-lawyer .botton .texxt {
  //     font-size: 16px;
  // }
}
}




@media (max-width: 431px) {
  .call {
    .text {
      text-align: center;
      gap: 24px;
      width: 100%;

      .call-title {
        color: var(--One-Xanh, #0a377f);
        font-family: "Inter";
        font-size: 36px;
        font-style: normal;
        font-weight: 600;
      }
      .call-titles {
        color: var(--Gray-One-900, #101828);
        font-family: "Inter";
        font-size: 19px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        width: 102%;
      }
    }
    .component {
      margin: 0 auto;
      gap: 32px;
      text-align: center;
      .item {
        .table {
          .itemm {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 16px;
            align-self: stretch;
            padding: 16px;
            padding-top: 45px;
            padding-bottom: 45px;
            .name {
              .error {
                text-align: left;
                margin: 0 auto;
                margin-left: 8px;
                padding-top: 4px;
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 415px) {
  .call {
    .text {
      .call-titles {
        color: var(--Gray-One-900, #101828);
        font-family: "Inter";
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        width: 100%;
      }
    }
  }
}
@media (max-width: 414px) {
  .call {
    .text {
      .call-titles {
        color: var(--Gray-One-900, #101828);
        font-family: "Inter";
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        width: 101%;
      }
    }
  }
}
@media (max-width: 412px) {
  .call {
    .text {
      .call-titles {
        color: var(--Gray-One-900, #101828);
        font-family: "Inter";
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        width: 101%;
      }
    }
  }
}
@media (max-width: 391px) {
  .call {
    .text {
      .call-titles {
        color: var(--Gray-One-900, #101828);
        font-family: "Inter";
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        width: 101%;
      }
    }
  }
}
@media (max-width: 390px) {s
  .call {
    .text {
      text-align: center;
      gap: 24px;
      width: 100%;

      .call-title {
        color: var(--One-Xanh, #0a377f);
        font-family: "Inter";
        font-size: 36px;
        font-style: normal;
        font-weight: 600;
      }
      .call-titles {
        color: var(--Gray-One-900, #101828);
        font-family: "Inter";
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        width: 101%;
      }
    }
    .component {
      margin: 0 auto;
      gap: 32px;
      text-align: center;
      .item {
        .table {
          .itemm {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 16px;
            align-self: stretch;
            padding: 16px;
            padding-top: 45px;
            padding-bottom: 45px;

            .name {
              .error {
                text-align: left;
                margin: 0 auto;
                margin-left: 8px;
                padding-top: 4px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 375px) {
  .call {
    .text {
      .call-titles {
        color: var(--Gray-One-900, #101828);
        font-family: "Inter";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        width: 100%;
      }
    }
  }
}
@media (max-width: 360px) {
  .call {
    .text {
      .call-titles {
        color: var(--Gray-One-900, #101828);
        font-family: "Inter";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        width: 104%;
      }
    }
  }
}
